* { margin: 0; padding: 0; }

body{
  font-family: 'Dancing Script', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Libre Baskerville', serif;
  line-height: 2vh;
  padding: 0px;
  margin: 0px;
}
.first{
  /* margin-top:10px; */
  display: block;
  color: azure;

}

ul > *{
  padding-top: 10px;
  line-height: 20px;
}

a, u {
  text-decoration: none;
  color: #2B2730;
  }

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 70%;
  height: 100px;
}

.IA{
  height:9.5rem;
  width : 15rem;
}
.bank{
  height:9.5rem;
  width : 15rem;

}
.hire{
  height: 9.5rem;
  width: 15rem;
}

.container .row-1{
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: center;
}

section{
  height: 100%;
}

.container-2{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr ;
  border: #fff;
}

.card{
  border: #fff;
}

.container-2 .card .icon {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);

  border-radius: 1rem;

}

.container-2 .card .icon .fa {

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 80px;

  color: #fff;

  width: 110%;

  

}

.container-2 .card .slide {

  width: 300px;

  height: 200px;

  transition: 0.5s;

}

.container-2 .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);

}

.container-2 .card:hover .slide.slide1{

  transform: translateY(0px);

}

.container-2 .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: flex-start;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);

  box-shadow: 0 20px 40px rgba(0,0,0,0.4);

  border-radius: 1rem;

  width: 90%;

  border: 5px solid black;

}

.container-2 .card:hover .slide.slide2{

  transform: translateY(0);

}

.container-2 .card .slide.slide2::after{

  content: "";

  position: absolute;

  width: 30px;

  height: 4px;

  bottom: 15px;

  left: 50%;

  left: 50%;

  transform: translateX(-50%);

  background: #2c73df;

}

.container-2 .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.container-2 .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

} 

@media (max-width: 768px) {
  .container-2 {
    grid-template-columns: 1fr;
  }
  .button{
    width: 70%;
  }
}

.icon img{
  text-align: center;
  width: 50%;
  height : 50%;
}

.container-3{
  display: grid;
  grid-template-rows: 400px 400px;
  row-gap: 1rem;
 
}

@media only screen and (max-width: 768px) {
  .container-3 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .container-3 > div {
    width: 90%;
    margin: 0 auto;
  }

  #testimonials .mte {
    position: relative;
    left: 10%;
    transform: translateX(-70%);
    margin-bottom: 36rem;
    opacity: 40%;
  }

  #testimonials .digit {
    position: relative;
    left: 10%;
    transform: translateX(-70%);
    margin-bottom: 6rem;
    opacity: 40%;
  }
  /* .image-div,
    .testimonial-content {
        width: 100%;
    } */
}